<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plant App</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    <img src="https://i.postimg.cc/zDgnb3q4/Plant-Pal-3.png" alt="logo">
    <%- include('./partials/nav') %>
    <h1>Welcome to the Plant Pal!</h1>
    <P>This app is design to collect all of your favorite plants! Let the collecting begin!</P>
    <p> You can start adding plants using the navagation bar or by clicking here <a href="/plants/new"> Add new plant! </a> </p>
    
</body>
</html>